@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Globotipo Condensada'
);
@include mat-core($custom-typography);

$mat-posvenda: (
  50: #FAFAFA,
  100: #F5F5F5,
  200: #EEEEEE,
  300: #E0E0E0,
  400: #BDBDBD,
  500: #9E9E9E,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A50: #ECEFF1,
  A100: #CFD8DC,
  A200: #B0BEC5,
  A300: #90A4AE,
  A400: #78909C,
  A500: #607D8B,
  A600: #546E7A,
  A700: #455A64,
  A800: #37474F,
  A900: #263238,
  contrast: (
    50: $white-87-opacity,
    100: $white-87-opacity,
    200: $white-87-opacity,
    300: $white-87-opacity,
    400: $white-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800:white,
    900: white,
    A100: $white-87-opacity,
    A200: $white-87-opacity,
    A400: $white-87-opacity,
    A700: white,
  )
);
$mat-posvenda-warn: (
  50: #e1f5fe,
  100: #b3e5fc,
  200: #81d4fa,
  300: #4fc3f7,
  400: #29b6f6,
  500: #03a9f4,
  600: #039be5,
  700: #0288d1,
  800: #0277bd,
  900: #01579b,
  A100: #80d8ff,
  A200: #40c4ff,
  A400: #00b0ff,
  A700: #0091ea,
  contrast: (
    50: $white-87-opacity,
    100: $white-87-opacity,
    200: $white-87-opacity,
    300: $white-87-opacity,
    400: $white-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800:white,
    900: white,
    A100: $white-87-opacity,
    A200: $white-87-opacity,
    A400: $white-87-opacity,
    A700: white,
  )
);


// Define an dark theme.
$dark-primary: mat-palette($mat-posvenda);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-posvenda-warn);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dark-theme);